.table {
  max-width: 700px;
  margin: auto;
  margin-top: 2rem;
}

.btn {
  background: none;
  border: 1px solid red;
  border-radius: 5px;
  outline: none;
  color: red;
  padding: 6px;
  transition: 500ms;
}

.btn:hover {
  background: red;
  color: white;
}

.btnContainer {
  text-align: center;
}
